/*
 * FileSender www.filesender.org
 * 
 * Copyright (c) 2009-2012, AARNet, Belnet, HEAnet, SURFnet, UNINETT
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * *	Redistributions of source code must retain the above copyright
 * 	notice, this list of conditions and the following disclaimer.
 * *	Redistributions in binary form must reproduce the above copyright
 * 	notice, this list of conditions and the following disclaimer in the
 * 	documentation and/or other materials provided with the distribution.
 * *	Neither the name of AARNet, Belnet, HEAnet, SURFnet and UNINETT nor the
 * 	names of its contributors may be used to endorse or promote products
 * 	derived from this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

html {
}

body {
	background: #1c1c1c;
	color: #333;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
}

/* LISTS */
ul {
	/*margin: .3em 0 1.5em 2em;*/
}

/*ul.related {
	margin-top: -1em;
}*/

li {
	/*margin-left: 2em;*/
}

img {
	border: none;
	display: block;
}

a 
{
	color: #333333;
}

td {
	vertical-align: top;
	padding: 3px;
}

#myfiles {
    table-layout:fixed;
    width: 100%;
    border: 0;
    border-spacing: 0;
}

.headerrow {
	background-color: #CCC;
}

#topmenu
{
	padding-left: 20px;
	height: 30px;
}
.menu a
{
	margin-right: 10px;
	font-size: 12px;
}

#menuright 
{
	float: right;
	padding-right: 10px;
	position: relative;
}

/* common column settings */
.colright,
.colmid,
.colleft {
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background:#eee;		/* right column background colour */
}
.threecol .colmid {
	right:25%;			/* width of the right column */
	background:#fff;		/* center column background colour */
}
.threecol .colleft {
	right:32%;			/* width of the middle column */
	background:#f4f4f4;	/* left column background colour */
}
.threecol .col1 {
	width:32%;			/* width of center column content (column width minus padding on either side) */
	left:91%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:33%;			/* Width of left column content (column width minus padding on either side) */
	left:25%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:33%;			/* Width of right column content (column width minus padding on either side) */
	left:59%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
#menuleft
{
	position: relative;
	float: left;	
}
.input
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	width: 98%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: #EBEBEB;
	border: 1px solid #CCC;
	padding: 2px;
}

input,textarea  
{
	width:100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#draganddropmsg
{
	padding-top: 0px;
	padding-bottom: 0px;	
}

#box {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius:10px;
    -moz-border-radius: 10px;
    margin: 5px auto;
}

.filebox_string
{
    line-height: 20px;
    height: 20px;
    position:absolute;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:90%;
    text-decoration: inherit;
    z-index: 10;
}

.delbtn
{
	background-color: #ddd;
	float: right;
	cursor:pointer;
}
.delbtn:hover
{
	color: #990000;
}
.heading
{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
.auppanel
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.fileBox
{
	padding: 8px;
	border: 1px solid #CCCCCC;
	margin: 2px;
	background-color: #dedede;
    height: 20px;
    border: 1px solid #CCCCCC;
    position:relative;
    vertical-align: middle;
}

.validfalse
{
	padding: 8px;
	border: 1px solid #CCCCCC;
	margin: 2px;
	color: #666666;
	text-decoration: line-through;
}

#tog {
	padding: 20px;
	border: 1px solid #cccccc;
	border-radius:10px;
	-moz-border-radius: 10px;
	margin: 20px auto;
}
	
.altcolor {
	background-color: #EFEFEF;	

}
.validation_msg {
	font-size: 10px;
	color: #d00;
}
.scratch_msg {
	font-size: 10px;
	color: #d00;
}
.formfieldheading {
	width: 110px;
}
.formfield {
	width: 250px;
}
.formfiledmsg {
	width: 220px;
	font-weight: normal;
}
.forminstructions {
	font-weight: normal;
	vertical-align: middle;
}
.fieldcontainer {
    padding: 5px;
}
input {
	/*border:1px solid #ccc;
	font-size: 13pt;
	padding: 5px 10px 5px 10px;
	border-radius:5px;
	-moz-border-radius: 5px;*/
}
/* overide button style */
.ui-button
{
	/*background-color: #333;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #999;
	border-left-color: #000;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: #FFF;*/
}
.ui-button:hover
{
	/*background-color: #900;*/
}
.ui-state-default
{
	/*background-image: none;	*/
}

#fileToUpload {
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	
	margin-right: 10px;
}

#dragfilestouploadcss {
	border: 1px dashed #666;
	border-radius:5px;
	-moz-border-radius: 5px;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 5px;
	background-color: #FFF;
	font-weight: bold;
}

#aup 
{
	width: 20px;	/*margin-left: -1px;*/
}
#aup_label{
	font-weight: bold;
}

/*#progressIndicator {
}
#progressBar {
	height: 14px;
	border: 1px solid #cccccc;
	display: none;
	border-radius:10px;
	-moz-border-radius: 10px;
	background-image: -moz-linear-gradient(top, #66cc00, #4b9500);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
}*/
/*#upload_frame {
	border:0px;
	height:40px;
	width:400px;
	display:none;
}*/

#progress_image {
margin-top: 4px;
}

#progress_completed {
    z-index:40;
    line-height:30px;
    padding-left:4px;
    color:#333333;
    width: 100%;
}

.progress_container {
	width: 300px;
	height: 16px;
	border: 1px solid #CCCCCC;
	display: block;
	margin-right: 0px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}

.progress_bar {
	position: relative;
	height: 20px;
	background-color: #5C5;
	width: 0;
	color: #FFF;
}

.progress_completed {
	z-index:40;
	line-height:30px;
	padding-left:4px;
	color:#333333;
	width: 100%;
}

#spinner {
    background: url('../images/ajax-loader-sm.gif') no-repeat center center;
    width: 10%;
    height: 42px;
    float:left;
    text-align: center;
}

#wrap {
	background: #fff;
	text-align: left;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	height: 100%;
}
#header {
	background: #666;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#content {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 12px;
	height: auto;	
}

#box, .box  {
	padding: 5px;
	border: 1px solid #aaa;
	border-radius:5px;
	-moz-border-radius: 5px;
	margin-top: 4px;
	margin-bottom: 4px;
}
#message {
	background-color: #AAC1A4;
	text-align: center;
	font-size: 12px;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
#errmessage {
	background-color: #FFF;
	text-align: center;
	font-size: 12px;
	padding: 4px;
	border: 1px solid #F00;
}
#pageheading {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 4px;
}

#uploadbutton  a {
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: bold;
}

#downloadbutton  a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: bold;
}

#voucherbutton  a {
	width:100%;
	font-weight: bold;
}


.mandatory{
	color: #000;
	font-weight: bold;
}

.html5text
{
	float: right;
	display:none;
}

.HardBreak
{
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */

}
#serviceinfo
{
	float: right;
	position: relative;
}
.versionnumber
{
	text-align: right;
	float: right;
	color: #666;
	font-size: 9px;
	padding-top: 3px;
}
.html5link
{
	float: right;
	color: #666;
	font-size: 9px;
}
#userinformation
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	height:auto;
}
.tblmcw1
{
    width: 18px;    
}

.tblmcw2
{
    width: 24px;    
}
.tblmcw3
{
    width: 100px;    
}

.welcomeuser
{
	position: relative;
	float: left;	
	font-size: 12px;
}
#footer
{
	text-align: center;
	font-size: 10px;
	color: #666;
}

label {
    display: inline-block;
    text-align: left;
    padding-bottom: 2px;
    vertical-align: top;
}

.dr1
{

	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr2
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	
}

.dr3
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	margin-bottom: 4px;
}
.dr4
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr5
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr6
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr7
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr8
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.dr9
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr10
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr11
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.dr12
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.dr13
{
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.expct
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

/* JQuery UI overides */
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
    padding: 6px;
	padding-left:10px;
	padding-right:10px;
}
