/*
 * FileSender www.filesender.org
 * 
 * Copyright (c) 2009-2012, AARNet, Belnet, HEAnet, SURFnet, UNINETT
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * *	Redistributions of source code must retain the above copyright
 * 	notice, this list of conditions and the following disclaimer.
 * *	Redistributions in binary form must reproduce the above copyright
 * 	notice, this list of conditions and the following disclaimer in the
 * 	documentation and/or other materials provided with the distribution.
 * *	Neither the name of AARNet, Belnet, HEAnet, SURFnet and UNINETT nor the
 * 	names of its contributors may be used to endorse or promote products
 * 	derived from this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

html {
}

body {
	background: #1c1c1c;
	color: #333;
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
}

/* LISTS */
ul {
	/*margin: .3em 0 1.5em 2em;*/
}

/*ul.related {
	margin-top: -1em;
}*/

li {
	/*margin-left: 2em;*/
}

img {
	border: none;
	display: block;
}

td {
	vertical-align: top;
	padding: 3px;
}

.headerrow {
	background-color: #CCC;
}

#topmenu
{
	padding-left: 20px;
	height: 30px;
}
.menu a
{
	margin-right: 10px;
	font-size: 12px;
}

#menuright 
{
	float: right;
	padding-right: 10px;
	position: relative;
}

/* common column settings */
.colright,
.colmid,
.colleft {
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background:#eee;		/* right column background colour */
}
.threecol .colmid {
	right:25%;			/* width of the right column */
	background:#fff;		/* center column background colour */
}
.threecol .colleft {
	right:32%;			/* width of the middle column */
	background:#f4f4f4;	/* left column background colour */
}
.threecol .col1 {
	width:32%;			/* width of center column content (column width minus padding on either side) */
	left:91%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:33%;			/* Width of left column content (column width minus padding on either side) */
	left:25%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:33%;			/* Width of right column content (column width minus padding on either side) */
	left:59%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}
#menuleft
{
	position: relative;
	float: left;	
}
.input
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	width: 98%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: #EBEBEB;
	border: 1px solid #CCC;
	padding: 2px;
}

input,textarea  
{
	border-radius:5px;
	-moz-border-radius: 5px;
	width:100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#draganddropmsg
{
	padding-top: 0px;
	padding-bottom: 0px;	
}

#box {
	border: 1px solid #cccccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.delbtn
{
	background-color: #ddd;
	float: right;
	cursor:pointer;
}
.delbtn:hover
{
	color: #990000;
}
.heading
{
	font-size: 14px;
	color: #666666;
	font-weight: bold;
}
.auppanel
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.fileBox
{
	padding: 8px;
	border: 1px solid #CCCCCC;
	margin: 2px;
	background-color: #dedede;
}

.validfalse
{
	padding: 8px;
	border: 1px solid #CCCCCC;
	margin: 2px;
	color: #666666;
	text-decoration: line-through;
}

#tog {
	padding-left: 20px;
	border: 1px solid #cccccc;
	border-radius:10px;
	-moz-border-radius: 10px;
	margin: 20px auto;
}
	
.altcolor {
	background-color: #EFEFEF;	

}
.validation_msg {
	font-size: 10px;
	color: #d00;
}
.scratch_msg {
	font-size: 10px;
	color: #d00;
}
.formfieldheading {
	width: 110px;
}
.formfield {
	width: 250px;
}
.formfiledmsg {
	width: 220px;
	font-weight: normal;
}
.forminstructions {
	font-weight: normal;
	vertical-align: middle;
}
input {
	/*border:1px solid #ccc;
	font-size: 13pt;
	padding: 5px 10px 5px 10px;
	border-radius:5px;
	-moz-border-radius: 5px;*/
}
/* overide o style */
.ui-o
{
	/*background-color: #333;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #999;
	border-left-color: #000;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: #FFF;*/
}
.ui-o:hover
{
	/*background-color: #900;*/
}
.ui-state-default
{
	/*background-image: none;	*/
}

#fileToUpload {
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	
	margin-right: 10px;
}

#dragfilestouploadcss {
	border:2px dashed #666666;
	border-radius:5px;
	-moz-border-radius: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
	font-weight: bold;
}

#aup 
{
	width: 20px;	/*margin-left: -1px;*/
}
#aup_label{
	font-weight: bold;
}


/*#progressIndicator {
}
#progressBar {
	height: 14px;
	border: 1px solid #cccccc;
	display: none;
	border-radius:10px;
	-moz-border-radius: 10px;
	background-image: -moz-linear-gradient(top, #66cc00, #4b9500);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
}*/
/*#upload_frame {
	border:0px;
	height:40px;
	width:400px;
	display:none;
}*/

#progress_image {
margin-top: 4px;
}

#progress_container {
	width: 300px;
	height: 20px;
	border: 1px solid #CCCCCC;
	background-color:#CCCCCC;
	display: block;
	margin-right: 0px;
	margin-left: 20px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}

#progress_bar {
	position: relative;
	height: 20px;
	background-color: #090;
	width: 0%;
	z-index:10;
	color: #FFF;
	padding-left: 4px;
}

#progress_completed {
	z-index:40;
	line-height:30px;
	padding-left:4px;
	color:#333333;
	width: 100%;
}
.progress_container {
	width: 300px;
	height: 16px;
	border: 1px solid #CCCCCC;
	display: block;
	margin-right: 0px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
}

.progress_bar {
	position: relative;
	height: 16px;
	background-color: #090;
	width: 0%;
	z-index:10;
	color: #FFF;
	padding-left: 4px;
}

.progress_completed {
	z-index:40;
	line-height:30px;
	padding-left:4px;
	color:#333333;
	width: 100%;
}
#wrap {
    background: #fff;
    text-align: left;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
#header {
	
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#content {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 12px;
	height: auto;	
}

#myfiles .headerrow
{
	color: rgb(255,255,255);
	background-color: rgb(153,153,153);
}

#box, .box  {
	border: 1px solid #cccccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: #CCCCCC;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-right: 6px;
	margin-left: 6px;
}
#message {
	background-color: #AAC1A4;
	text-align: center;
	font-size: 12px;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
}
#errmessage {
	background-color: #FFF;
	text-align: center;
	font-size: 12px;
	padding: 4px;
	border: 1px solid #F00;
}
#pageheading {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 4px;
}

#uploadbutton  a {
	width: 33%;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	text-align: center;
}

#downloadbutton  a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: bold;
}

#voucherbutton  a {
	width:100%;
	font-weight: bold;
}


.mandatory{
	font-weight: bold;
	padding-bottom: 2px;
}

.html5text
{
	float: right;
	display:none;
}
.HardBreak
{
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */

}
.versionnumber
{
	color: #333;
	font-size: 9px;
}
#userinformation 
{
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.welcomeuser
{
	float:left;
	text-align: left;
	font-size: 12px;
}
#footer
{
	text-align: center;
	font-size: 10px;
}

label {
   width: 200px;
   display: inline-block;
   text-align: right;
}

.fieldcontainer {
	width: 100%;
	min-height: 22px;
	/* border: 1px solid #F00;*/
	padding: 4px;
	margin: 2px;
	margin-top:6px;
	vertical-align: top;
} 

.label {
	float: left;
	/*width: 70px;*/
	vertical-align: top;
	padding-bottom: 2px;
} 

.field { /*float: left; width: 194px; */} 

.menubar
{
	height: 34px;
	background: url("../images/jq-global-nav.png") repeat-x scroll 0 bottom #1B1B1B;
	border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	margin-right: 26px;
	margin-left: 26px;
	
}

.msgbox
{
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	margin-right: 26px;
	margin-left: 26px;
	background-color: #D6D6D6;	
	height: 34px;
}
.menubar li
{
    border-left: 1px solid rgba(255, 255, 255, 0.098);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: inline-block;
    float: left;
    font: bold 13px/17px "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
    position: relative;
    text-shadow: 0 0 2px #000000;
    top: 1px;
    transition: all 0.2s ease 0s;
}
.menubar ul .spacer
{
    width: 100%; 
   
    }
    .menubar .leftmenu
    {
        float:left;
    }
     .menubar .rightmenu
    {
        float:right;
    }
.menubar ul
{
	/* [disabled]border-left: 1px solid rgba(0, 0, 0, 0.35); */
	/* [disabled]border-right: 1px solid rgba(255, 255, 255, 0.098); */
	display: inline;
	float: left;
	list-style: none outside none;
	margin: 0;
	text-align: left;
    }
.constrain {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
	
}
.rightmenu li:last-child
{
	border-right:none;
}
	
.menubar ul li a {
    color: #E6E6E6;
    display: block;
    font-style: normal;
    font-weight: normal;
    padding: 8px 12px;
    text-decoration: none;
}
.menubar a:hover,.active, a:active
{
    background-color: rgb(51,51,51);
}
.menubar a:hover
{
    background-color: rgb(51,51,51);
}